# Dependencies
**/node_modules/
**/dist/
**/.expo/

# Environment
.env
.env.local
.env.*.local
**/.env
**/.env.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db